[submodule "vim/plugins/fugitive/vim-fugitive"]
	path = vim/plugins/fugitive/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/plugins/vim-games"]
	path = vim/plugins/vim-games
	url = https://github.com/jmanoel7/vim-games.git
[submodule "vim/plugins/vim-surround"]
	path = vim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/plugins/align"]
	path = vim/plugins/align
	url = https://github.com/vim-scripts/Align.git
