# Backup files
*.zip
*.tar.bz2

.*.swp

# softlinks
vim/colors/solarized.vim
vim/doc/fugitive.txt
vim/doc/solarized.txt
vim/plugin/echofunc.vim
vim/plugin/fugitive.vim
vim/plugin/undotree.vim
vim/syntax/undotree.vim

# netrw history
vim/.netrwhist
